body {
  padding: 50px;
  font-size: 14px;
}

a {
  color: #00b7ff;
}

#content {
  width: 790px;
  margin-left: auto;
  margin-right: auto;
}

#room {
  background-color: #ddd;
  margin-bottom: 1em;
}

#messages {
  width: 690px;
  height: 400px;
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
}

#room-list {
  float: right;
  width: 100px;
  height: 400px;
  overflow: hidden;
}

#room-list div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

#room-list div:hover {
  background-color: #ddd;
}

#send-message {
  width: 700px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#help {
  font: 10px "Lucida Grande", Arial, sas-serif;
}